h1 {
    text-align: center;
    font-size: 10rem !important;
}
img {
    width: 100% !important;
    height: 100vh !important;
}
button {
    display: block !important;
    margin: auto !important;
    font-size: 7rem !important;
}
h2 {
    text-align: center;
    font-size: 5rem !important;
}
span {
    font-size: 7rem !important;
}