h2 {
    text-align: center;
}
h2:first-child {
    font-size: 5rem !important;
}
input, button {
    margin: auto !important;
    display: block !important;
}
input {
    width: 30vw;
    height: 15vh;
    font-size: 5rem;
}
button {
    margin-top: 30px !important;
    font-size: 5rem;
}
#stanjeracuna {
    font-size: 12rem;
}