h1 {
  text-align: center;
  font-size: 9rem !important;
}
img {
  margin: auto !important;
  display: block !important;
}
.card > img {
  height: 80vh !important;
}
.card:hover {
  -webkit-box-shadow: 1px 8px 22px 13px #ff6a00;
  box-shadow: 1px 8px 22px 13px #ff6a00;
}
button {
  margin: auto !important;
  display: block !important;
}
button > a {
  text-align: center;
  font-size: 5rem;
  text-decoration: none;
  color: black;
}
