h1 {
  text-align: center;
  font-size: 7rem !important;
}
img {
  height: 90vh !important;
}
.card:hover {
  -webkit-box-shadow: 1px 8px 22px 13px #ff6a00;
  box-shadow: 1px 8px 22px 13px #ff6a00;
}
#naslov {
  margin-top: 150px !important;
}
input {
  margin: auto !important;
  display: block !important;
  width: 30vw;
  height: 15vh;
  font-size: 5rem !important;
}
button {
  margin: auto !important;
  display: block !important;
  height: 15vh;
  width: 30vw;
  font-size: 5rem !important;
  margin-top: 40px !important;
}
#bankah1 {
  width: 100% !important;
  margin: auto !important;
  display: block !important;
}