h1 {
  text-align: center;
  font-size: 9rem !important;
}
#cryptodiv {
  width: 100%;
  height: 60vh !important;
  border: 3px solid darkblue;
  text-align: center;
  font-size: 9rem !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
input {
  width: 50% !important;
  display: block !important;
  height: 20vh !important;
  font-size: 6rem !important;
  margin: auto !important;
}
button {
  display: block !important;
  margin: auto !important;
  font-size: 5rem !important;
  margin-top: 30px !important;
}
h2 {
  text-align: center;
}
#pretragaValutaContainer {
  text-align: center;
  font-size: 9rem ;
}
h2 {
    font-size: 6rem !important;
}